<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs', {title: "การจัดการสินค้า"}) %>
    <body>
    <%- include('navbar.ejs') %>
        <div class="container">
            <h2>จัดการสินค้า</h2>
            <p>เพิ่ม ลบ แก้ไขข้อมูลในฐานข้อมูล</p>            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ชื่อสินค้า</th>
                        <th>ราคา</th>
                        <th>รายละเอียด</th>
                        <th>รูปภาพ</th>
                        <th>ลบ</th>
                        <th>แก้ไข</th>
                    </tr>
                </thead>
                <tbody>
                <% Object.values(products).forEach((p) => {%>
                    <tr>
                        <td><%= p.name%></td>
                        <td><%= p.price%></td>
                        <td><%= p.description%></td>
                        <td><img src="<%= p.image%>" width="64" height="64" alt="" style="display: block; height: auto; margin: 0 auto"></td>
                        <td><button class="btn btn-danger">ลบ</button></td>
                        <td><button class="btn btn-primary">แก้ไข</button></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </body>
</html>
